<div class="banner">
  <div class="upper-layout" [class.active]="toggleClass"></div>
  <div class="container" [class.active]="toggleClass">
    <div class="hero-header" (mouseover)="changebg()" (mouseleave)="backtobg()">
      <!-- -------------------------------- -->
      <!-- Main hero text goes here  -->
      <!-- -------------------------------- -->
      <h1>DIGITAL MARKETING LEADERS</h1>
      <!-- ---------------------------- -->
      <!-- ---------------------------- -->
      <!-- Shadow copy for an effect, same copy of the above H1 goes here  -->
      <!-- ---------------------------- -->
      <!-- ---------------------------- -->
      <h1 class="shadow-copy">DIGITAL MARKETING LEADERS</h1>
    </div>
    <div class="hero-buttons">
      <a href="" class="btn btn-black">Request A Call</a>
      <a href="" class="link link-normal">What We Do?</a>
    </div>
    <div class="hero-banner-image">
      <img src="./assets/banner-image.png" alt="Banner Image" />
    </div>
  </div>
</div>
