<!-- ------------------------------------------- -->
<!-- ------------------------------------------- -->
<!-- Newsletter component: Email and subscription panel. -->
<!-- ------------------------------------------- -->
<!-- ------------------------------------------- -->
<div class="newsletter">
  <div class="container">
    <div class="newsletter-content">
      <h2>We need your permission?</h2>
      <p>
        Its our responsibility to update you the sleeky features on time. Lorem
        ipsum dollor sentiy and geeil of the heart cloning sector.
      </p>
    </div>
    <div class="newsletter-input">
      <div>
        <!-- --------------------------- -->
        <!-- --------------------------- -->
        <!-- Input form goes here  -->
        <!-- --------------------------- -->
        <!-- --------------------------- -->
        <form>
          <input type="text" placeholder="Enter your Email ID" />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </div>
</div>
