<!-- --------------------------- -->
<!-- --------------------------- -->
<!-- Sub or Secondary banner text goes here  -->
<!-- --------------------------- -->
<!-- --------------------------- -->
<div class="secondary-banner">
  <div class="container">
    <div class="secondary-banner-content">
      <div class="left-block">
        <div>
          <p>
            Lorem Ipsum dollor Free tek, this is a demo providing for an
            interview
          </p>
        </div>
        <div>
          <p>
            Lorem Ipsum dollor Free tek, this is a demo providing for an
            interview
          </p>
        </div>
      </div>
      <div class="right-block">
        <a href="" class="btn btn-white btn-normal">Request A Demo</a>
        <a href="" class="btn btn-white btn-normal">Download</a>
      </div>
    </div>
  </div>
</div>
